.container{
    background-color:#FAFAFA;
    height:720px;
    width: 1560px;
}
.logo{
    position: fixed;
    top: 0px;
    left: 0px;
}

.login{
    position: fixed;
    top: 0px;
    right:656px;
}

.img1{
    position: fixed;
    top: 72px;
    left: 166px;
    border-radius: 50%;
    border: 20px solid #FAFAFA;
    height: 576px;
    width: 576px;
    background: transparent url('IMAGES/Ellipse 2.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 31px #0000000A;
}

.img2{
    position: fixed;
    top: 106px;
    left: 906px;
    height: 58px;
    width: 272px;
}

.text1{
    position: fixed;
    top: 183px;
    left: 905px;
    width: 500px;
    height: 100px;
    font: normal normal 300 40px/47px Roboto;
}

.text2{
    position: fixed;
    top: 315px;
    left: 904px;
    font: normal normal normal 25px/33px Roboto;
    height: 33px;
    width: 260px;
}

.uname{
    position: fixed;
    top:372px;
    left: 907px;
    height: 49px;
    width: 429px;
}

.uname ::placeholder{
    position: fixed;
    top: 14.63px;
    bottom: 14.37px;
    height: 20px;
    width: 68px;

}

.pass{
    position: fixed;
    top: 448px;
    left: 906px;
    height: 49px;
    width: 429px;
}

.pass ::placeholder{
    position: fixed;
    top: 13.63px;
    bottom: 15.37px;
    width: 66px;
    height: 20px;
    
}

.button{
    position: fixed;
    top: 527px;
left: 906px;
width: 138px;
height: 45px;
background: #C8242F 0% 0% no-repeat padding-box;
border-radiu
}

.forgot{
    position:fixed;
    top: 539px;
left: 1214px;
width: 121px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}

.register{
    position: fixed;
    top: 595px;
left: 906px;
width: 160px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;}

.r1{
    position:fixed;
    top: 595px;
left: 1070px;
width: 88px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
}

.d1{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 1560px;
    height: 1359px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1
    ;
}
.hea{top: 0px;
    position:fixed;
left: 0px;
width: 1560px;
height: 80px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.menubar{
    top: 34px;
    position:fixed;
left: 29px;
width: 18px;
height: 12px;
background:  0% 0% no-repeat padding-box;
opacity: 1;
}
.logo{
    top: 25px;
    left: 72px;
    position:fixed;
    width: 142px;
    height: 30px;
    
    opacity: 1;
}
.searchicon{top: 32px;
left: 291px;
width: 16px;
height: 16px;
background: 0% 0% no-repeat padding-box;
opacity: 1;
position:fixed;}
.search{top: 28px;
left: 321px;
position:fixed;
width: 49px;
height: 21px;
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;}

.notification{
    top: 28px;
    position:fixed;
left: 1294px;
width: 22px;
height: 21px;
/* UI Properties */
background:  0% 0% no-repeat padding-box;
opacity: 1;
}

.profile{
    position:fixed;
    top: 18px;
left: 1368px;
width: 44px;
height: 44px;
/* UI Properties */
background: transparent url('img/Ellipse 19.png') 0% 0% no-repeat padding-box;
opacity: 1;}

.name{
    position:fixed;
    top: 28px;
left: 1424px;
width: 68px;
height: 21px;
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;}

.downward{position:fixed;
    top: 37px;
left: 1507px;
width: 10px;
height: 6px;
/* UI Properties */
background: 0% 0% no-repeat padding-box;
opacity: 1;
}

.sideline{
    position:fixed;
    top: 80px;
left: 0px;
width: 242px;
height: 1279px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}

.dash{position:fixed;
    top: 119px;
left: 48px;
width: 15px;
height: 15px;
background: 0% 0% no-repeat padding-box;
opacity: 1;}

.dashboard{position:fixed;
top: 115px;
left: 75px;
width: 78px;
height: 21px;
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;}

.anal{
    position: fixed;
    top: 171px;
left: 46px;
width: 19px;
height: 18px;
background:  0% 0% no-repeat padding-box;
opacity: 1;
}
.analysis{
    position:fixed;
    top: 168px;
left: 75px;
width: 60px;
height: 21px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.inbo{
    position: fixed;
    top: 225px;
left: 48px;
width: 15px;
height: 15px;
background:  0% 0% no-repeat padding-box;
opacity: 1;
}
.inbox{
    position:fixed;
    top: 221px;
left: 75px;
width: 39px;
height: 21px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.hist{
    position: fixed;
    top: 278px;
left: 47px;
width: 16px;
height: 16px;
background:  0% 0% no-repeat padding-box;
opacity: 1;
}
.history{
    position:fixed;
    top: 274px;
    left: 75px;
    width: 51px;
    height: 21px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.user{
    position: fixed;
    top: 334px;
left: 51px;
width: 8px;
height: 4px;
/* UI Properties */
border: 2px solid #000000;
opacity: 1;
}
.users{
    position:fixed;
    top: 327px;
left: 75px;
width: 41px;
height: 21px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.main{
    position: fixed;
    top: 383px;
left: 48px;
width: 13px;
height: 18px;
/* UI Properties */
background: 0% 0% no-repeat padding-box;
opacity: 1;
}
.maintainance{
    position:fixed;
    top: 380px;
left: 75px;
width: 92px;
height: 21px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.sett{
    position: fixed;
    top: 436px;
left: 47px;
width: 17px;
height: 17px;
/* UI Properties */
background: 0% 0% no-repeat padding-box;
opacity: 1;
}
.setting{
    position:fixed;
    top: 433px;
left: 75px;
width: 50px;
height: 21px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.dashb{
    position:fixed;
    top: 121px;
left: 290px;
width: 146px;
height: 39px;
text-align: left;
font: normal normal medium 30px/39px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.star{
    position:fixed;
    top: 223px;
left: 330px;
width: 33px;
height: 33px;
background:  0% 0% no-repeat padding-box;
opacity: 1;
}
.num1{
    position:fixed;
    top: 213px;
left: 383px;
width: 77px;
height: 33px;
text-align: left;
font: normal normal medium 25px/33px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.t1{
    position:fixed;
    top: 244px;
left: 383px;
width: 94px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.new{
    position:fixed;
    top: 223px;
left: 579px;
width: 27px;
height: 27px;
background:  0% 0% no-repeat padding-box;
opacity: 1;
}
.num2{
    position:fixed;
    top: 213px;
left: 625px;
width: 57px;
height: 33px;
text-align: left;
font: normal normal medium 25px/33px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.t2{
    position:fixed;
    top: 244px;
left: 625px;
width: 107px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.total{
    position:fixed;
    top: 227px;
left: 831px;
width: 26px;
height: 26px;
background:  0% 0% no-repeat padding-box;
opacity: 1;
}
.num3{
    position:fixed;
    top: 213px;
left: 878px;
width: 77px;
height: 33px;
text-align: left;
font: normal normal medium 25px/33px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
}
.t3{
    position:fixed;
    top: 244px;
    left: 878px;
    width: 97px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.dollar{
    position:fixed;
    top: 223px;
    left: 1084px;
    width: 33px;
    height: 33px;
    background:  0% 0% no-repeat padding-box;
    opacity: 1;
}
.num4{
    position:fixed;
    top: 213px;
    left: 1136px;
    width: 57px;
    height: 33px;
    text-align: left;
    font: normal normal medium 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.t4{
    position:fixed;
    top: 244px;
left: 1136px;
width: 83px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.money{
    position:fixed;
    top: 225px;
left: 1332px;
width: 29px;
height: 30px;
background:  0% 0% no-repeat padding-box;
opacity: 1;
}
.num5{
    position:fixed;
    top: 213px;
left: 1382px;
width: 91px;
height: 33px;
text-align: left;
font: normal normal medium 25px/33px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.t5{
    position:fixed;
    top: 244px;
left: 1382px;
width: 66px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.igraph{
    position: fixed;
    top: 328px;
left: 292px;
width: 802px;
height: 400px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}
.sale{
    position: fixed;
    top: 352px;
left: 321px;
width: 43px;
height: 29px;
text-align: left;
font: normal normal medium 22px/29px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.week{
    position: fixed;
    top: 352px;
left: 903px;
width: 108px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}
.year{
    position: fixed;
    top: 352px;
left: 1032px;
width: 33px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
}
.price1{
    position: fixed;
    top: 409px;
left: 320px;
width: 31px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}
.price2{
    position: fixed;
    top: 448px;
left: 320px;
width: 31px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}
.price3{
    position: fixed;
    top: 487px;
left: 320px;
width: 31px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}
.price4{
    position: fixed;
    top: 526px;
left: 320px;
width: 24px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}
.price5{
    position: fixed;
    top: 565px;
left: 320px;
width: 24px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}
.price6{
    position: fixed;
    top: 604px;
left: 320px;
width: 24px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}
.price7{
    position: fixed;
    top: 643px;
left: 320px;
width: 17px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}
.graph{
    position: fixed;
    top: 419px;
left: 398px;
width: 649px;
height: 234px;
background: 0% 0% no-repeat padding-box;
opacity: 1;
}
.sales{
    position: fixed;
    top: 330px;
left: 1124px;
width: 385px;
height: 398px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}
.sale{
    position: fixed;
    top: 352px;
left: 1153px;
width: 165px;
height: 29px;
text-align: left;
font: normal normal medium 22px/29px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.pie{
    position:fixed;
    top: 408px;
left: 1213px;
width: 129px;
height: 153px;
background:  0% 0% no-repeat padding-box;
opacity: 1;
}
.red{
    position: fixed;
    top: 550px;
left: 1173px;
width: 18px;
height: 18px;
background: #C8242F 0% 0% no-repeat padding-box;
opacity: 1;
}
.usa{
    position: fixed;
    top: 550px;
left: 1200px;
width: 166px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.green{
    position: fixed;
    top: 550px;
left: 1392px;
width: 18px;
height: 18px;
background: #A2B86C 0% 0% no-repeat padding-box;
opacity: 1;
}
.canada{
    position: fixed;
    top: 550px;
left: 1419px;
width: 51px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.orange{
    position: fixed;
    top: 615px;
left: 1173px;
width: 18px;
height: 18px;
background: #F16C20 0% 0% no-repeat padding-box;
opacity: 1;
}
.russia{
    position: fixed;
    top: 615px;
left: 1200px;
width: 45px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.yellow{
    position: fixed;
    top: 620px;
left: 1392px;
width: 18px;
height: 18px;
background: #EBC844 0% 0% no-repeat padding-box;
opacity: 1;
}
.india{
    position: fixed;
    top: 620px;
left: 1419px;
width: 33px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.bottom{
    position: fixed;
    top: 758px;
left: 292px;
width: 1217px;
height: 558px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}
.invoice{
    position: fixed;
    top: 781px;
left: 321px;
width: 82px;
height: 29px;
text-align: left;
font: normal normal medium 22px/29px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.view{
    position: fixed;
    top: 784px;
left: 1437px;
width: 43px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
}
.first{
    position: fixed;
    top: 846px;
left: 332px;
width: 66px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 1.5px;
color: #ADADAD;
opacity: 1;
}
.second{
    position: fixed;
    top: 846px;
left: 492px;
width: 133px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 1.5px;
color: #ADADAD;
opacity: 1;
}
.third{
    position: fixed;
    top: 846px;
left: 762px;
width: 50px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 1.5px;
color: #ADADAD;
opacity: 1;
}
.fourth{
    position: fixed;
    top: 846px;
left: 1032px;
width: 78px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 1.5px;
color: #ADADAD;
opacity: 1;
}
.fifth{
    position: fixed;
    top: 846px;
left: 1192px;
width: 61px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 1.5px;
color: #ADADAD;
opacity: 1;
}
.sixth{
    position: fixed;
    top: 846px;
left: 1352px;
width: 70px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 1.5px;
color: #ADADAD;
opacity: 1;
}

.one{
    position: fixed;
    top: 893px;
left: 332px;
width: 51px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.two{
    position: fixed;
    top: 893px;
left: 492px;
width: 142px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.three{
    position: fixed;
    top: 893px;
left: 762px;
width: 198px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.four{
    position: fixed;
    top: 893px;
left: 1032px;
width: 89px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.five{
    position: fixed;
    top: 893px;
left: 1202px;
width: 30px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3CDD5F;
opacity: 1;
}
.six{
    position: fixed;
    top: 893px;
left: 1352px;
width: 53px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.one1{
    position: fixed;
    top: 940px;
left: 332px;
width: 51px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.two1{
    position: fixed;
    top: 940px;
left: 492px;
width: 36px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.three1{
    position: fixed;
    top: 940px;
left: 762px;
width: 204px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.four1{
    position: fixed;
    top: 940px;
left: 1032px;
width: 89px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.five1{
    position: fixed;
    top: 940px;
left: 1202px;
width: 30px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3CDD5F;
opacity: 1;
}
.six1{
    position: fixed;
    top: 940px;
left: 1352px;
width: 53px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}